
body {
    background-color: #d9f1c4;
    font-family: 'Times New Roman', Times, serif;
    color:black;  
  }
  h2{
    font-style: italic;
  }
  .header{
    float:right;
  }
  ul {
    list-style: none;
    padding-left: 0;
    /* display:inline; */
  }
  ul li{
    /* display:inline; */
    margin:4px;
  }
  .App {
    max-width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  @media only screen and (max-width: 600px) {
    .App {
      max-width: 95%;
      margin-left: 8px;
      margin-right: 8px;
    }
  
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  